*{
    margin: 0
    padding: 0
}
.flex-container{
    display:flex;
    background-color: gray;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;

}

.flex-container div{
    background-color: pink;
    margin: 5px
    padding: 10px;
}